.covid .small {
  font-size: 14px;
}

.covid .medium {
  font-size: 20px;
}

.covid td.country {
  font-size: 11px;
}

.covid td.number {
  font-size: 14px;
}

.covid td.recovered {
  color: green;
}

.covid td.deaths {
  color: red;
}

.covid td.active {
  color: orange;
}
